.container {
  position: absolute;
  bottom: calc(var(--card-height) * 1.5 + 10px);
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  --mobile-controls-gap: 0.8rem;
  z-index: 120;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--mobile-controls-gap);
}

.bottom {
  display: flex;
  gap: var(--mobile-controls-gap);
}

.button:active {
  transform: scale(1.1);
}

.button-position-fixup {
  position: relative;
  bottom: 4px;
}
