:root {
  --card-width: 79px;
  --card-height: 123px;
  --attack-card-gap: calc(var(--card-width) / 1.5);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background: url("/images/main-screen-2.jpeg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

button:not(:disabled):hover {
  cursor: pointer;
}
