.card {
  width: 79px;
  height: 123px;
  position: absolute;
  top: -123px;
}

.card-center {
  width: 79px;
  height: 123px;
  z-index: -10;
  opacity: 0;
}

.card-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
