.card {
  width: 79px;
  height: 123px;
  position: absolute;
  top: -123px;
}

.card-static-center {
  width: 79px;
  height: 123px;
  position: absolute;
  top: calc(50% - 123px / 2);
  left: calc(50% - 79px / 2);
}
