.card {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: calc(var(--card-height) * -1);
}

.card-static-center {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: calc(50% - var(--card-height) / 2);
  left: calc(50% - var(--card-width) / 2);
}

.card-left {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: calc(50% - var(--card-height) / 2);
  left: calc(-1 * var(--card-width) / 2);
}

.card-right {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: calc(50% - var(--card-height) / 2);
  left: calc(100% - var(--card-width) / 2);
}

.card-top {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: calc(-1 * var(--card-height) / 2);
  left: calc(50% - var(--card-width) / 2);
}

.card-bottom {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: calc(100% - var(--card-height));
  left: calc(50% - var(--card-width) / 2);
}

.card-top-left {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: 0;
  left: 0;
}

.card-top-left-trump {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: 0;
  left: calc((var(--card-height) - var(--card-width)) / 2);
}

.card-attack-0 {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: calc(50% - var(--card-height) - var(--attack-card-gap) / 2);
  left: calc(50% - var(--card-width) * 1.5 - var(--attack-card-gap));
}

.card-attack-1 {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: calc(50% - var(--card-height) - var(--attack-card-gap) / 2);
  left: calc(50% - var(--card-width) * 0.5);
}

.card-attack-2 {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: calc(50% - var(--card-height) - var(--attack-card-gap) / 2);
  left: calc(50% + var(--card-width) * 0.5 + var(--attack-card-gap));
}

.card-attack-3 {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: calc(50% + var(--attack-card-gap) / 2);
  left: calc(50% - var(--card-width) * 1.5 - var(--attack-card-gap));
}

.card-attack-4 {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: calc(50% + var(--attack-card-gap) / 2);
  left: calc(50% - var(--card-width) * 0.5);
}

.card-attack-5 {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: calc(50% + var(--attack-card-gap) / 2);
  left: calc(50% + var(--card-width) * 0.5 + var(--attack-card-gap));
}

.card-discarded {
  width: var(--card-width);
  height: var(--card-height);
  position: absolute;
  top: calc(100% - var(--card-height));
  left: calc(100% - var(--card-width));
}

.help {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
  z-index: 100;
}

.trump-suit {
  position: absolute;
  top: calc(var(--card-height) / 2);
  left: calc(var(--card-width) / 2);
  transform: translate(-50%, -50%);
  z-index: 50;
}

.shield-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 100;
}

.shield-right {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%) translateX(-100%);
  z-index: 100;
}

.shield-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.shield-bottom {
  position: absolute;
  top: calc(100% - var(--card-height) / 2);
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 100;
}

.durak-hat-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 100;
  margin: 10px;
}

.durak-hat-right {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%) translateX(-100%);
  z-index: 100;
  margin: 10px;
}

.durak-hat-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  margin: 10px;
}

.durak-hat-bottom {
  position: absolute;
  top: calc(100% - var(--card-height) / 2);
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 100;
  margin: 10px;
}

.hidden {
  display: none;
}

@media screen and (min-width: 724px) {
  .help {
    top: 65%;
    font-size: 1.7rem;
  }
}
