.container {
  display: block;
  background: transparent;
  border: none;
  --default-text-button-scale: 1;
}

.container {
  transform: scale(var(--default-text-button-scale));
}

.container:not(:disabled):hover {
  transform: scale(calc(var(--default-text-button-scale) + 0.1));
}

.text-svg {
  text-shadow: 1px 0px 1px rgb(97, 100, 5);
  filter: brightness(120%);
}
